In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#                                       Practical-6
#Problem - 1 - To convert a Numpy array to a pandas series

print("Actual array : ",np.arange(11,21), "\nPandas series :\n ",pd.Series(np.arange(11,21)))

In [ ]:
#                                       Practical-6
#practical-2 To convert the first column of a DataFrame as a series


data = {'ML': [100, 75, 84, 85, 71, 91], 
                               'COA': [48, 54, 86, 95, 86, 90], 
                               'WJP': [78, 58, 82, 100, 66, 100], 
                               'MADA': [100, 58, 50, 89, 77, 100] }

data_frame = pd.DataFrame(data = data)
print(data_frame)

print(data_frame.iloc[:,0])

In [ ]:
#practical(6)- Practical-3 - To Create the mean and standard deviation of the of a given series

print("pandas series:", pd.Series(np.arange(10,21)), "\n\nMean :", pd.Series(np.arange(10,21)).mean(), "\n Deviation :", pd.Series(np.arange(10,21)).std())

In [ ]:
#practical-4 To sort given pandas series

#Name: Bhargav Gohel
#Enrollment no: 216270307013

print(pd.Series([11.2,12.2,13.3,14.4,15.5]).sort_values())

print(pd.Series([11.2,12.2,13.3,14.4,15.5]).sort_values(ascending = False))